@media screen and (min-width: 1000px) {
  body {
    background-color: #ffffff;
    font-family: sans-serif;
    font-family: 15.5px;
    padding: 0;
    margin: 0;
  }

  /* HEADER START */
  header {
    background-color: #ffffff;
  }

  .hhdd1s {
    display: flex;
    flex-direction: row;
  }

  .hhdd2s {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
  }

  .help {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
  }

  .help a {
    text-decoration: none;
    color: #1111f9;
    font-size: 125%;
  }

  .hd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 145%;
    margin-left: 15%;
  }

  .md {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-between;
  }

  .dropdown,
  .dropdown1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
  }

  .dropbtn,
  .dropbtn1 {
    font-size: 100%;
    padding: 10px 15px;
    /* background-color: #99f9ff; */
    background-color: #1111f9;
    color: white;
    border-radius: 5px;
    border: none;
  }

  .dropdown-content,
  .dropdown1-content1 {
    display: none;
    position: absolute;
    top: 80%;
    background-color: #f9f9f9;
    max-width: 160px;
    z-index: 6;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .dropdown:hover .dropdown-content,
  .dropdown1:hover .dropdown1-content1 {
    display: block;
  }

  .dropdown:hover .dropbtn,
  .dropdown1:hover .dropbtn1 {
    background-color: lightblue;
    color: black;
  }

  .dropdown-content a,
  .dropdown1-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 5;
  }

  .dropdown-content a:hover,
  .dropdown1-content1 a:hover {
    background-color: lightgray;
  }
  /* HEADER START */

  /* LOGIN START */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  #logbt,
  #login_bt {
    background-color: #1111f9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  #logbt:hover,
  #login_bt:hover {
    opacity: 0.8;
  }

  #login_bt {
    font-weight: bolder;
  }

  .modal h1 {
    margin-top: 0%;
  }

  .cancelbtn1 {
    width: 35%;
    padding: 10px 18px;
    background-color: #1111f9;
    color: white;
    border-radius: 7px;
    border: hidden;
  }

  .frgtbtn {
    width: 55%;
    padding: 10px 18px;
    background-color: #1111f9;
    color: white;
    border-radius: 7px;
    border: hidden;
    float: right;
  }

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }

  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  .container {
    padding: 16px;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 120px;
  }

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }

  #llo {
    width: 25%;
    height: fit-content;
  }

  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }

  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
  }

  @keyframes animatezoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  /* LOGIN END */

  /* SIGNUP START */
  #id02 input[type="text"],
  #id02 input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  #id02 input[type="text"]:focus,
  #id02 input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
  }

  .cancelbtn,
  .signupbtn {
    color: white;
    background-color: #1111f9;
    font-weight: bolder;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 6px;
    cursor: pointer;
    width: 45%;
    border: hidden;
  }

  .cancelbtn {
    float: left;
  }

  .signupbtn {
    float: right;
  }

  .modal1 h1 {
    margin-top: 0%;
  }

  .container {
    padding: 16px;
  }

  .modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 50px;
  }

  .modal1-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }

  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .signupmain {
    width: 30%;
    margin: auto;
  }

  .signupmain {
    animation: animatezoom1 0.6s;
  }

  @keyframes animatezoom1 {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  /* SIGNUP END */

  /* SALE START */
  div.sale {
    background-color: skyblue;
    padding: 1%;
  }

  div.sale h2 {
    color: black;
    text-align: center;
  }

  .bod {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /* SALE END */

  /* INFO START */
  .info {
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0.1, 0.12);
    position: sticky;
    top: 2%;
    width: 21%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #eeeeee;
    margin: 1%;
  }

  .logoin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7%;
  }

  .logoin img {
    height: 12vh;
  }

  .info hr {
    color: BLACK;
  }

  .logoin2 {
    padding: 25px;
    padding-top: 0;
    justify-content: center;
    width: 80%;
  }

  .logoin3 {
    padding: 0px 25px 25px 25px;
  }

  .logoin2 h3 {
    margin: 0;
    padding: 0 0 2% 0;
    color: black;
    font-size: 130%;
  }

  .logoin3 h3 {
    margin: 0;
    padding: 0 0 30px 0;
    color: black;
    font-size: 95%;
    border-bottom: 1px solid darkgray;
  }

  .infolist {
    padding: 0;
    margin: 0;
  }

  .infolist li {
    list-style-type: none;
    color: black;
    font-size: 105%;
  }

  .infolist h2 {
    margin-top: 0%;
    color: #1111f9;
  }
  .infolist ol {
    padding: 0;
    margin: 0;
  }

  #infoli,
  #infoma {
    margin: 0px 0px 15px 25px;
  }

  .infolist li:last-child {
    padding-bottom: 20px;
  }
  /* INFO END */

  /* MAIN START */
  .b1 {
    background-color: #eeeeee;
    padding: 20px;
    margin-top: 20px;
    border: hidden;
    border-radius: 10px;
  }

  .b1 h1 {
    color: #000000;
    margin: 0;
  }

  .b1 p {
    color: #000000;
    margin: 0;
  }

  .main {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .blogs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .blogs p {
    font-size: 95%;
  }

  .b1 h1 {
    font-size: 150%;
  }

  .b1 {
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0.1, 0.12);
  }

  .b1:hover {
    transform: scale(1.05);
  }

  #he {
    color: #1111f9;
    text-align: center;
  }

  .hea {
    top: 20px;
    border-bottom: 2px solid #000000;
    margin-top: 30px;
  }

  .hea h1 {
    color: BLACK;
    font-size: 25px;
  }

  #b1bt1 {
    float: right;
  }

  #b1bt1:hover {
    transform: scale(1.1);
  }

  #b1bt2 {
    padding: 6px 12px;
    background-color: #1111f9;
    color: white;
    font-size: 85%;
    border: hidden;
    border-radius: 30px;
    margin: 15px 0px;
  }

  .b1 ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  .b1 li {
    color: black;
    font-size: 85%;
    margin: 0pc 8px 0px 8px;
    padding: 8px 8px 0px 8px;
  }

  .b1 #b1li1 {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  .b1 button {
    margin-top: 1%;
    padding: 3px 5px;
    background-color: #1111f9;
    color: white;
    border: hidden;
    border-radius: 5px;
  }

  #guideblg p {
    margin-top: 10px;
  }

  #guideblg h1,
  #guideblg p {
    text-decoration: none;
  }

  #guidetrend {
    border: 1px solid #1111f9;
    padding: 5px;
    margin-left: 10px;
    text-transform: capitalize;
    border-radius: 10px;
    font-size: 75%;
  }

  .crs1 {
    width: 50%;
  }

  .crs1 h2 {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid darkgray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .crs1 p {
    margin: 15px;
    margin-bottom: 0;
    padding: 0;
  }

  .crsb1 {
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0.1, 0.12);
  }
  .crs1 {
    border-right: 1px solid black;
  }

  .crs2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 50%;
  }

  .crs2 p {
    margin: 0;
    padding: 0;
  }

  #crsbuy {
    width: fit-content;
    margin: 10px 0px 0px 15px;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px;
    background-color: #1111f9;
    color: white;
  }

  #crsbuy:hover {
    transform: scale(1.05);
  }
  /* MAIN END */

  /* NEWS START */
  .news {
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0.1, 0.12);
    position: sticky;
    top: 2%;
    width: 21%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #eeeeee;
    margin: 1%;
    scroll-behavior: unset;
  }

  .newh {
    margin-top: 17px;
    border-bottom: 2px solid black;
  }

  .newh h1 {
    text-align: center;
    color: #1111f9;
    font-size: 25px;
  }

  .n1 {
    color: black;
    padding: 20px;
    border-bottom: 1px solid gray;
  }

  .n1 h1 {
    font-size: 110%;
    color: black;
    margin: 0;
  }

  #n1l {
    border: none;
  }

  #n1bt21 {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #n1bt21:hover {
    transform: scale(1.1);
  }

  #n1bt22 {
    padding: 6px 12px;
    background-color: #1111f9;
    color: white;
    font-size: 85%;
    border: hidden;
    border-radius: 30px;
    margin: 15px 0px;
  }

  #n1bt21 {
    padding: 0;
    margin: 0;
  }
  /* NEWS END */

  /* FOOTER START */
  .ft {
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: lightgray;
    margin: 25px 0px 0px 0px;
    padding: 25px;
  }

  .ft1 {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 110%;
    margin-top: 1%;
  }

  footer h3 {
    color: #1111f9;
    margin-top: 25px;
  }

  .ft1 h3,
  .ft1 p {
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
  }

  .ft2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .ft2 img {
    height: 12vh;
  }

  .ft2 h3 {
    color: black;
  }

  #us {
    color: #1111f9;
  }

  .h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -2%;
    margin-left: 2%;
  }

  .material-icons {
    color: #000000;
    margin: 2% 0px 0px 2%;
  }

  .ft3 {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
  }

  .ico1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 150%;
  }

  .ico1 p {
    color: black;
    font-size: 90%;
  }

  .ff {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
  }

  .ft4 {
    margin-top: -4%;
    margin-left: 1.5%;
  }

  .fa:hover {
    color: #1111f9;
  }

  #mi1:hover {
    color: #1111f9;
  }

  .ff a,
  #mi1 {
    color: #000000;
    text-decoration: none;
    font-size: 100%;
  }

  .fa,
  #mi1 {
    margin: 12% 0px 10% 10%;
  }

  #mi2 {
    margin-left: 0;
  }

  #mi1 {
    margin-right: 0;
  }

  .ft5 {
    margin: 0;
    padding: 0;
    color: black;
  }

  .ft5 p {
    padding: 0;
    margin: 0;
  }
  /* End of footer */
}
@media screen and (max-width: 999px) {
  .dropdown,
  .help {
    display: none;
  }
  body {
    background-color: #ffffff;
    font-family: sans-serif;
    font-family: 15.5px;
    padding: 0;
    margin: 0;
  }

  /* HEADER START */
  header {
    background-color: #ffffff;
  }

  .hhdd1s {
    display: flex;
    flex-direction: row;
  }

  .hhdd2s {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
  }

  .hd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 145%;
    margin-left: 15%;
  }

  .md {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-between;
  }

  .dropdown1 {
    width: fit-content;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
  }

  .dropbtn1 {
    width: fit-content;
    font-size: 100%;
    padding: 10px 15px;
    /* background-color: #99f9ff; */
    background-color: #1111f9;
    color: white;
    border-radius: 5px;
    border: none;
  }

  .dropdown1-content1 {
    display: none;
    position: absolute;
    top: 80%;
    background-color: #f9f9f9;
    max-width: 160px;
    z-index: 6;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .dropdown1:hover .dropdown1-content1 {
    display: block;
  }

  .dropdown1:hover .dropbtn1 {
    background-color: lightblue;
    color: black;
  }

  .dropdown1-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 5;
  }

  .dropdown1-content1 a:hover {
    background-color: lightgray;
  }
  /* HEADER START */

  /* LOGIN START */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  #logbt,
  #login_bt {
    background-color: #1111f9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  #logbt:hover,
  #login_bt:hover {
    opacity: 0.8;
  }

  #login_bt {
    font-weight: bolder;
  }

  .modal h1 {
    margin-top: 0%;
  }

  .cancelbtn1 {
    width: 35%;
    padding: 10px 18px;
    background-color: #1111f9;
    color: white;
    border-radius: 7px;
    border: hidden;
  }

  .frgtbtn {
    width: 55%;
    padding: 10px 18px;
    background-color: #1111f9;
    color: white;
    border-radius: 7px;
    border: hidden;
    float: right;
  }

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }

  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  .container {
    padding: 16px;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 120px;
  }

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }

  #llo {
    width: 65%;
    height: fit-content;
  }

  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }

  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
  }

  @keyframes animatezoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  /* LOGIN END */

  /* SIGNUP START */
  #id02 input[type="text"],
  #id02 input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  #id02 input[type="text"]:focus,
  #id02 input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
  }

  .cancelbtn,
  .signupbtn {
    color: white;
    background-color: #1111f9;
    font-weight: bolder;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 6px;
    cursor: pointer;
    width: 45%;
    border: hidden;
  }

  .cancelbtn {
    float: left;
  }

  .signupbtn {
    float: right;
  }

  .modal1 h1 {
    margin-top: 0%;
  }

  .container {
    padding: 16px;
    width: fit-content;
  }

  .modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 50px;
  }

  .signupmain #llo {
    width: 150%;
  }

  .modal1-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 100%;
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }

  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .signupmain {
    width: 30%;
    margin: auto;
  }

  .signupmain {
    animation: animatezoom1 0.6s;
  }

  @keyframes animatezoom1 {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  /* SIGNUP END */

  /* SALE START */
  div.sale {
    background-color: skyblue;
    padding: 1%;
  }

  div.sale h2 {
    color: black;
    text-align: center;
  }

  .bod {
    display: block;
  }
  /* SALE END */

  /* INFO START */
  .info {
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0.1, 0.12);

    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #eeeeee;
    margin: 1%;
  }

  .logoin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7%;
  }

  .logoin img {
    margin-top: 35px;
    height: 12vh;
  }

  .info hr {
    color: BLACK;
  }

  .logoin2 {
    padding: 25px;
    padding-top: 0;
    justify-content: center;
    width: 80%;
  }

  .logoin3 {
    padding: 0px 25px 25px 25px;
  }

  .logoin2 h3 {
    margin: 0;
    padding: 0 0 2% 0;
    color: black;
    font-size: 130%;
  }

  .logoin3 h3 {
    margin: 0;
    padding: 0 0 30px 0;
    color: black;
    font-size: 95%;
    border-bottom: 1px solid darkgray;
  }

  .infolist {
    padding: 0;
    margin: 0;
  }

  .infolist li {
    list-style-type: none;
    color: black;
    font-size: 105%;
  }

  .infolist h2 {
    margin-top: 0%;
    color: #1111f9;
  }
  .infolist ol {
    padding: 0;
    margin: 0;
  }

  #infoli,
  #infoma {
    margin: 0px 0px 15px 25px;
  }

  .infolist li:last-child {
    padding-bottom: 20px;
  }
  /* INFO END */

  /* MAIN START */
  .b1 {
    background-color: #eeeeee;
    padding: 20px;
    margin-top: 20px;
    border: hidden;
    border-radius: 10px;
  }

  .b1 h1 {
    color: #000000;
    margin: 0;
  }

  .b1 p {
    color: #000000;
    margin: 0;
  }

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .blogs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .blogs p {
    font-size: 95%;
  }

  .b1 h1 {
    font-size: 150%;
  }

  .b1 {
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0.1, 0.12);
  }

  .b1:hover {
    transform: scale(1.05);
  }

  #he {
    color: #1111f9;
    text-align: center;
  }

  .hea {
    top: 20px;
    border-bottom: 2px solid #000000;
    margin-top: 30px;
  }

  .hea h1 {
    color: BLACK;
    font-size: 25px;
  }

  #b1bt1 {
    float: right;
  }

  #b1bt1:hover {
    transform: scale(1.1);
  }

  #b1bt2 {
    padding: 6px 12px;
    background-color: #1111f9;
    color: white;
    font-size: 85%;
    border: hidden;
    border-radius: 30px;
    margin: 15px 0px;
  }

  .b1 ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  .b1 li {
    color: black;
    font-size: 85%;
    margin: 0pc 8px 0px 8px;
    padding: 8px 8px 0px 8px;
  }

  .b1 #b1li1 {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  .b1 button {
    margin-top: 1%;
    padding: 3px 5px;
    background-color: #1111f9;
    color: white;
    border: hidden;
    border-radius: 5px;
  }

  #guideblg p {
    margin-top: 10px;
  }

  #guideblg h1,
  #guideblg p {
    text-decoration: none;
  }

  #guidetrend {
    border: 1px solid #1111f9;
    padding: 5px;
    margin-left: 10px;
    text-transform: capitalize;
    border-radius: 10px;
    font-size: 75%;
  }

  .crs1 {
    width: 50%;
  }

  .crs1 h2 {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid darkgray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .crs1 p {
    margin: 15px;
    margin-bottom: 0;
    padding: 0;
  }

  .crsb1 {
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0.1, 0.12);
  }
  .crs1 {
    border-right: 1px solid black;
  }

  .crs2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 50%;
  }

  .crs2 p {
    margin: 0;
    padding: 0;
  }

  #crsbuy {
    width: fit-content;
    margin: 10px 0px 0px 15px;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px;
    background-color: #1111f9;
    color: white;
  }

  #crsbuy:hover {
    transform: scale(1.05);
  }
  /* MAIN END */

  /* NEWS START */
  .news {
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0.1, 0.12);

    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #eeeeee;
    margin: 1%;
    scroll-behavior: unset;
  }

  .newh {
    margin-top: 35px;
    border-bottom: 1px solid darkgray;
  }
  #newhd {
    padding-top: 25px;
  }
  .newh h1 {
    text-align: center;
    color: #1111f9;
    font-size: 25px;
  }

  .n1 {
    color: black;
    padding: 20px;
    border-bottom: 1px solid gray;
  }

  .n1 h1 {
    font-size: 110%;
    color: black;
    margin: 0;
  }

  #n1l {
    border: none;
  }

  #n1bt21 {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #n1bt21:hover {
    transform: scale(1.1);
  }

  #n1bt22 {
    padding: 6px 12px;
    background-color: #1111f9;
    color: white;
    font-size: 85%;
    border: hidden;
    border-radius: 30px;
    margin: 15px 0px;
  }

  #n1bt21 {
    padding: 0;
    margin: 0;
  }
  /* NEWS END */

  .info,
  .main,
  .news {
    display: block;
    margin: 0 auto;
  }
  .bod {
    width: fit-content;
    margin: 0px 20px;
  }

  /* FOOTER START */
  footer {
    align-content: center;
  }
  .ft {
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
    margin: 25px 0px 0px 0px;
    padding: 25px;
  }

  .ft1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-size: 110%;
    margin-top: 1%;
  }

  footer h3 {
    text-align: center;
    color: #1111f9;
    margin-top: 25px;
  }

  .ft1 h3,
  .ft1 p {
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
  }
  .ft1 p:last-child {
    padding-bottom: 30px;
  }

  .ft2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .ft2 img {
    height: 12vh;
  }

  .ft2 h3 {
    color: black;
  }

  #us {
    color: #1111f9;
  }

  .h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -2%;
    margin-left: 2%;
  }

  .material-icons {
    color: #000000;
    margin: 2% 0px 0px 2%;
  }

  .ft3 {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
  }

  .ico1 {
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px auto;
    font-size: 150%;
  }

  .ico1 a {
    margin: 0 10px;
  }

  .ico1 p {
    color: black;
    font-size: 90%;
  }
  #mi1 {
    margin-right: 0;
  }
  #mi2 {
    margin-left: 0;
  }

  .ff {
    display: flex;
    flex-direction: column;
  }

  .ft4 {
    margin-top: -4%;
  }

  .fa:hover {
    color: #1111f9;
  }

  #mi1:hover {
    color: #1111f9;
  }

  .ff a,
  #mi1 {
    color: #000000;
    text-decoration: none;
    font-size: 100%;
  }

  .fa,
  #mi1 {
    margin-bottom: 10%;
    margin-left: 10%;
  }

  .ft5 {
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
  }

  .ft5 p {
    padding: 0;
    margin: 0;
  }
  /* End of footer */
}
